.navbar {
  padding-top: 10px;
  padding-left: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 99.3%;
  height: 40px;
  background: rgb(179, 199, 179);
  box-shadow: 0 4px 12px rgba(37, 49, 34, 0.08);
}

.navbar-structure {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links-left {
  display: flex;
  gap: 10px;
}

.navbar-links-right {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 20px;
}

.navbar-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 200px;;
  border: 0.5px solid black;
  background: white;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.navbar-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 16px black;
  background: #ffffff;
}

.navbar-link--primary {
  background: #5fb05a;
  color: #ffffff;
  border-color: #5fb05a;
}

.navbar-link--primary:hover {
  background: #4a9c45;
  border-color: #4a9c45;
}